{name, "protobuffs"}.
{authors, ["Nick Gerakines <nick@gerakines.net>","Jacob Vorreuter <jacob.vorreuter@gmail.com>"]}.
{description, "An implementation of Google's Protocol Buffers for Erlang"}.
{homepage, "https://github.com/basho/erlang_protobuffs"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "protobuffs-0.5.0"}}}. 
{applications, [protobuffs]}.
